*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    background-color: black;
}

                    /* HEADER */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: black;
    height: 8vh;
}

header{
    background-color: black;
    display: flex;
    justify-content: center;
}

.container-title-header{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: black;
}

.title-header{
    font-size: 80px;
    color: white;
    margin: 20px;
    padding: 30px 200px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #7f60e8;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 0;
    padding: 10px 0;
}

.nav-link{
    padding: 0 35px;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.a-nav-link:hover{
    color: #7f60e8;
}


h1{
    color: #e9fef0;
    font-family: 'Inter', sans-serif;
    font-size: 55px;
}   

                    /* Titulo del carrito */
.cart-title{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: 15px auto;
    padding: 10px 0;
    background-color: #7f60e8;
    color: #f4f4f4;
    border-radius: 5px;
}


                    /* Seccion de todos los productos */
.title-productos{
    text-align: center;
    background-color: #7f60e8;
    width: 90%;
    margin: 20px auto;
    border-radius: 5px;
    color: #f4f4f4;
    padding: 10px 0;
    font-family: 'Inter', sans-serif;
}
#todosLosProductos{
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
    background-color: #7f60e8;
    padding-top: 10px;
}
                    /* Style individual */
.styleProducto{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    text-align: center;
    color: #f4f4f4;
    background-color: black;
    border-radius: 5px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.styleProducto:hover{
    transform: scale(101%);
    transition: 0.4s;
}
            /* boton agregar de los productos */
.boton-agregar{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #7f60e8;
    color: #f4f4f4;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 0;
}

.boton-agregar:hover{
    color: #7f60e8;
    background-color: black;
}


            /* styles de los productos en carrito */
.productoEnCarrito{
    font-family: 'Open Sans', sans-serif;
    background-color:#7f60e8;
    color: #f4f4f4;
    margin: 10px 10px;
    border-radius: 7px;
    padding: 7px 10px 0 10px ;
    display: flex;
    justify-content: space-around;
}

.boton-eliminar {
    background-color: transparent;
    padding-bottom: 5px;
    color: rgb(255, 7, 7);
    border: none;
    font-size: 20px;
    border-radius: 5px;
    width: 8px;
}
/* INFO breve seccion */
#infoMain{
    font-family: 'Open Sans', sans-serif;
    height: 40vh;
    margin: 50px auto;
    border-radius: 5px;
    width: 90%;
    background-color: #7f60e8;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.info-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-icon{
    height: 100px;
    width: 100px;
}

.info-main-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

            /* Seccion de testimonios */

#testimoniosTitle{
    font-family: 'Inter', sans-serif;
    font-size: 3.5em;
    background-color:#7f60e8;
    color: #f4f4f4;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
    padding-top: 20px;
}

#testimonios{
    margin-top: 0;
    display: flex;
    background-color:#7f60e8;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 70vh;
    flex-wrap: wrap;
}

.styleClientes{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    color: #e9fef0;
    background-color: transparent;
    border-radius: 5px;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

#imgsJson{
    height: 350px;
    width: 320px;
    border-radius: 5px;
    display: flex;
}

#pJson{
    font-style: italic;
    font-size: 20px;
}
                    /* FOOTER */

#footer{
    font-family: 'Open Sans', sans-serif;
    height: 40vh;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.subtitles-footer{
    font-family: 'Inter', sans-serif;
}

#socialMedia, #location, #phone{
    padding-top: 15px;
}

.bi-instagram, .bi-facebook, .bi-twitter{
    font-size: 25px;
}

.bi-instagram{
    color: #dc2743;
}

.bi-twitter{
    color: #1da1f2;
}

.bi-facebook{
    color: #3b5998 ;
}

#sectionCopyright{
    margin-top: 30px;
}
#copyright{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 12px 0;
}

button{
    border: none;
    background-color: transparent;
}


a{
    list-style: none;
    text-decoration: none;
    color: white;

}





